<meta charset="utf-8">
<script src='jquery.js'></script>
<link rel="stylesheet" href="animate.css">

<style>
*{ 
	padding:0; 
	margin:0; 
	outline:none;
	font-family: arial;
	-webkit-appearance:none;
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;	
}

@font-face {
    font-family: "RobotoBold";
    src: url("RobotoBold/RobotoBold.eot");
    src: url("RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
    url("RobotoBold/RobotoBold.woff") format("woff"),
    url("RobotoBold/RobotoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}

body, html{ 
	width:100%;
	height:100%;
	overflow: hidden;
	background: url('img/bg.png') rgb(0,0,0);
	background-repeat:repeat;
	background-size: cover;
}

img{
	visibility:hidden;
}

.game-button{ 
	background: transparent;
	font-family: "RobotoBold";
	font-weight: bold;
	color:white;
	border: 0 none;
	box-sizing: border-box;
	text-shadow: 2px 2px 1px #000;
}

#play{
	border-radius: 30px;
	background: url("img/button-off.png");
	background-size: 100% 100%;
}
#play:hover{
	background: url("img/button-on.png");
	background-size: 100% 100%;
	
}

</style>

<body onkeypress="artClick()">

<div id="cache">
	<img src="img/button-off.png" width="0" height="0" />
	<img src="img/button-on.png" width="0" height="0" />
</div>

<table id="menu" style="width:100%; height:100%; box-sizing:border-box" cellspacing="0" cellpadding="0" border="0">
<tr>
	<td width="100%" valign="middle" align="center">

		<div style="text-align:center" id="logo-box"> 
			<img src="img/logo.png" id="logo"> 
		</div>

		<table><tr>
			<td align="right">
				<button class="game-button" id="d9soft"> D9SOFT </button>
			</td>
			<td align="center" style="padding:25px">
				<button class="game-button" id="play"> PLAY NOW </button>
			</td>
			<td align="left">
				<button class="game-button" id="rateus"> RATE US </button>
			</td>
		</tr></table>

	</td>
</tr>
</table>


<table id="chardis">
	<tr>
		<td>
			<img src="GAME/character/default.png" height="80%" id="char-pic" style="opacity:0" />
		</td>
		<td style="padding-left:50px">
			<div id="char-text" style="color:white; font-size:2em">

				<div id="char1" style="opacity:0; padding-left:0px; font-size: 1.5em">Это Чардиз.</div>
				<br><br>
				<div id="char2" style="opacity:0; padding-left:50px">...И он провалился сквозь лёд в пещеру...</div>
				<div id="char3" style="opacity:0; padding-left:100px">...где его крылья обледенели</div>
				<br><br>
				<div id="char4" style="opacity:0; padding-left:0px">Теперь он не может летать сам, как прежде</div>

			</div>
		</td>
	</tr>
</table>

<div id="hope" style="color:white; font-size:2em; text-align:center; padding-top:20%">
	<div id="t1" style="opacity:0; ">Судьба Чардиза отныне в твоих руках</div>
	<div id="t2" style="opacity:0; ">Помоги продержаться ему как можно дольше</div>
	<div id="t3" style="opacity:0; ">И однажды он найдет выход из этой ловушки...</div>
</div>

</body>

<script>

$(function(){

	$("#play").on('click', function(){ makeMenuAction(this, function(){ L2L.Play() }) });
	$("#d9soft").on('touchstart', function(){ makeMenuAction(this, function(){ L2L.D9Soft() }) });
	$("#rateus").on('touchstart', function(){ makeMenuAction(this, function(){ L2L.RateUs() }) })
	
	$(".game-button").addClass("easyPulse animated infinite");

	scaleObjects();
	$(window).on("resize", scaleObjects)

	//body visualization
	$("body").fadeOut(0);
	$("body").fadeIn(2500);

	$("img").css("visibility", "visible");

});

function artClick()
{
	$("#play").click();
}

function scaleObjects()
{
	var w = window.innerWidth;
	var h = window.innerHeight;
	
	var start_menu_button_width = Math.min(500, Math.min(w,h)*0.7);

	/* Logo scale */
	var logoPaddingTop = (h*0.0);
	var logoPaddingRight = (h*0.025);
	var logoPaddingBottom = 0;
	var logoPaddingLeft = (h*0.025);
	$("#logo-box").css({
		"padding-top": logoPaddingTop+"px",
		"padding-right": logoPaddingRight+"px",
		"padding-bottom": logoPaddingBottom+"px",
		"padding-left": logoPaddingLeft+"px"
	});
	$('#logo').width( w*0.5+"px" );

	var BTN_HW_RATIO = 230.0/1085;
	var BTN_RECT_H_TO_BTN_H_RATIO = 500/230.0;
	///////////////////////////////////////////////////
	var gameButtonWidth = w/4;
	var gameButtonHeight = (gameButtonWidth*BTN_HW_RATIO) * BTN_RECT_H_TO_BTN_H_RATIO;
	var gameButtonTextSz = gameButtonWidth/10;
	var gameButtonPadding = gameButtonHeight;
	//////////////////////////////////////////////////
	$(".game-button").css({
		"width" : gameButtonWidth+"px",
		"height" : gameButtonHeight+"px",
		"font-size" : gameButtonTextSz+"px"
	});

}

function makeMenuAction(btn,func)
{
	var animClass = "pulse animated";
	$(btn).addClass(animClass);
	window.setTimeout(function(){
		$("#menu").addClass("animated zoomOutUp");
		window.setTimeout(LoadChardis, 1000);
		//func();
		$(btn).removeClass(animClass);
		$(btn).blur();		
		}, 1000);

	$(btn).attr("disabled", "disabled");
	window.setTimeout(function(){ 
		$(btn).removeAttr("disabled") 
		$(btn).removeClass("pulse");
		$(btn).addClass("easyPulse");
	}, 2000);

	}

function LoadChardis()
{
	$("#menu").remove();

	$("#char-pic").css("opacity", 1);
	$("#char-pic").addClass("animated bounceInDown");

	window.setTimeout(function(){
		$("#char1").css("opacity", 1);
		$("#char1").addClass("animated bounceInDown");
		window.setTimeout(function(){
			$("#char2").css("opacity", 1);
			$("#char2").addClass("animated bounceInRight");
			window.setTimeout(function(){
				$("#char3").css("opacity", 1);
				$("#char3").addClass("animated bounceInLeft");
				window.setTimeout(function(){
					$("#char4").css("opacity", 1);
					$("#char4").addClass("animated fadeInUp");
					window.setTimeout(function(){
						PreLoadHope();
					},3000);
				},3000);
			},250);
		},1000);
	},500);

	

}

function PreLoadHope()
{
	$("#chardis").addClass("animated fadeOut")
	window.setTimeout(LoadHope, 1500);
}

function LoadHope()
{
	$("#menu").remove();
	$("#chardis").remove();

	$("#t1").css("opacity", 1);
	$("#t1").addClass("animated fadeInUp");

	window.setTimeout(function(){
		$("#t1").addClass("animated fadeOutUp");
		$("#t2").css("opacity", 1);
		$("#t2").addClass("animated fadeInUp");
		window.setTimeout(function(){
			
			$("#t2").addClass("animated fadeOutUp");
			$("#t3").css("opacity", 1);
			$("#t3").addClass("animated fadeInUp");

		},3000);
	},3000);

}

</script>