<meta name="viewport" content="width=device-width,initial-scale=1.0" />
<meta charset="utf-8">

<style>
    *{ 
	    padding:0; 
	    margin:0; 
	    outline:none;
	    -webkit-appearance:none;
	    -webkit-tap-highlight-color: transparent;
	    -webkit-user-select: none;	

	    font-family: "RobotoBold";
    }

    @font-face {
        font-family: "RobotoBold";
        src: url("RobotoBold/RobotoBold.eot");
        src: url("RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
        url("RobotoBold/RobotoBold.woff") format("woff"),
        url("RobotoBold/RobotoBold.ttf") format("truetype");
        font-style: normal;
        font-weight: bold;
    }

    body, html{ 
	    width:100%;
	    height:100%;
	    overflow: hidden;
	    background: url('img/gameover/bg.png') rgb(0,0,0);
	    background-repeat:repeat;
	    background-size: cover;
    }

    #content{

    }

    #title{
	    margin: 0 auto;
	    text-align: center;
	    color: white;
    }

    .currentscore{
	    background: url('img/gameover/scoreboard.png');
	    background-size: 100% 100%;
        text-align: center;	    
    }

    .currentscore .title{
        margin: 0 auto;
	    text-transform:uppercase; 
	    font-weight: bold; 
	    color: white;        
    }
    #record-table .title{
        text-transform:uppercase; 
        color: white;
    }

    #record-table {
        font-weight: bold;
    }
    
    #current_distance, #current_points, 
    #user_best_distance, #user_best_points {
        font-weight:bold; 
    }


    #learning a{
        color: #808080; 
    }
    
    
    .button {
        background: url(img/gameover/btn.png);
        background-size: 100% 100%;
        border:  0 none;   
        color:  white;        
    }
    /*.button:hover{
        color: #9ed5ff;
        box-shadow: 0 0 10px #00c0ff;
    }*/

</style>



<body>

<div id="cache">
</div>

<div id="content">

	<div id="title">[Чардиз погиб]</div>


	<div id="userscore" style="text-align: center">
        <div class="currentscore" style="display: inline-block" Roffset="1">
            <div id="title_result" class="title" style="color: white">Результат</div>
            <div id="current_distance" style="color:#FFF; display: inline-block" Roffset="1">15m</div>
            <div id="current_points" style="color:#00a014; display: inline-block">50</div>
		</div>
		<div class="currentscore" style="display: inline-block">
            <div id="title_record" class="title" style="color: #FFD300">Рекорд</div>
            <div id="user_best_distance" style="color:#FFF; display: inline-block" Roffset="1">175m</div>
            <div id="user_best_points" style="color:#00a014; display: inline-block">150</div>
        </div>
	</div>


    <div id="buttons" style="text-align: center">
        <button id="look-record-table" class="button" style="display: inline-block">Рекорды</button>
        <button id="restart-game" class="button" style="display: inline-block">Заново</button>
        <button id="quit-game" class="button">Выход</button> 
    </div>


    <div id="record-table" style="text-align: center">
        <div id="record-weekly" style="display: inline-block;" Roffset='10'>
            <div id="title_week" class="title">За неделю</div>
            <div id="weekly_distance" style="color:#FFF; display: inline-block;" Roffset='4'>15m</div>
            <div id="weekly_points" style="color:#00a014; display: inline-block">50</div>
        </div>
        <div style="display: inline-block">
            <div id="title_alltime" class="title">За все время</div>
            <div id="best_distance" style="color:#FFF; display: inline-block;"  Roffset='4'>15m</div>
            <div id="best_points" style="color:#00a014; display: inline-block">50</div>
        </div>
    </div>


    <div id="learning" style="text-align: center">
        <a href="#" id="goto-learning" onclick="return false;">Обучение</a>
    </div>

</div>

<!--<div style="background-color: #000; height:  50px; "></div>-->

</body>

<script src='jquery.js'></script>

<script>

    $(function () {

        $('html, body').fadeOut(0)
        $('html, body').fadeIn('slow');

        var contentBlockHeight = window.innerHeight - 50;
        $("#content").height(contentBlockHeight + "px");

        Scale();
        Localize();
        SetActions();
        RunScoreUpdator();

    });

    function Localize() {
        $("#title").text(L2L.GetTitle());
        $("#title_result").text(L2L.Localize("title_result"));
        $("#title_record").text(L2L.Localize("title_record"));
        $("#look-record-table").text(L2L.Localize("look_records"));
        $("#restart-game").text(L2L.Localize("restart"));
        $("#quit-game").text(L2L.Localize("quit"));
        $("#title_week").text(L2L.Localize("title_week"));
        $("#title_alltime").text(L2L.Localize("title_alltime"));
        $("#goto-learning").text(L2L.Localize("learning"));
    }

    function RunScoreUpdator() {

        window.setTimeout(RunScoreUpdator, 250);

        var userCurrentScore = L2L.GetUserResult().split(";");
        $("#current_points").text(userCurrentScore[0]);
        $("#current_distance").text(userCurrentScore[1]);

        var userBestScore = L2L.GetBestUserResult().split(";");
        $("#user_best_points").text(userBestScore[0]);
        $("#user_best_distance").text(userBestScore[1]);

        var weeklyBestScore = L2L.GetWeeklyResult().split(";");
        $("#weekly_points").text(weeklyBestScore[0]);
        $("#weekly_distance").text(weeklyBestScore[1]);       

        var bestScore = L2L.GetBestResult().split(";");
        $("#best_points").text(bestScore[0]);
        $("#best_distance").text(bestScore[1]);

    }

    function SetActions() {
        $("#look-record-table").on('touchstart', function () { L2L.LookRecords() })
        $("#restart-game").on('touchstart', function () { L2L.RestartGame() })
        $("#goto-learning").on('touchstart', function () { L2L.RunLearning() })
        $("#quit-game").on('touchstart', function () { L2L.QuitGame() })
    }

    function Scale() {

        window.setTimeout(Scale, 250);

        var vh = function (per) { return window.innerHeight * per / 100.0; };
        var vw = function (per) { return window.innerWidth * per / 100.0; };

        // Title scale
        $("#title").css({
            'font-size': vw(4),
            'padding-top': vh(10),
            'padding-bottom': vh(3)
        })

        // Current score
        $(".currentscore").css({
            'padding': vh(3)
        });
        $(".currentscore .title").css({
            'font-size': vh(5),
            'min-width': vw(15)
        });
        $("#current_distance, #current_points, #user_best_distance, #user_best_points").css({
            'font-size': vh(4)
        })


        // Buttons
        $("#buttons").css({
            'margin-top': vh(3),
            'margin-bottom': vh(3)
        });
        $(".button").css({
            'padding-top': vh(1),
            'padding-right': vh(7),
            'padding-bottom': vh(1),
            'padding-left': vh(7),
            'font-size': vh(5),
            'margin-right': vw(1)
        });

        //Record table
        $("#record-table").css({
            'font-size': vh(4)
        });
        $("#record-table .title").css({
            'padding': vh(1)
        });

        // Learning
        $("#learning").css({
            'margin-top': vh(2)
        });
        $("#learning a").css({
            'font-size': vh(4)
        });

        // Offsets
        $("*[Roffset]").each(function (i, o) {
            var offset = parseInt($(o).attr('Roffset'));
            $(o).css({
                'margin-right': vw(offset)
            });
        });
    }

</script>