<script src='jquery.js'></script>
<link rel="stylesheet" href="animate.css">

<style>
*{ 
	padding:0; 
	margin:0; 
	outline:none;
	-webkit-appearance:none;
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;	
}

@font-face {
    font-family: "RobotoBold";
    src: url("RobotoBold/RobotoBold.eot");
    src: url("RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
    url("RobotoBold/RobotoBold.woff") format("woff"),
    url("RobotoBold/RobotoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}

body, html{ 
	width:100%;
	height:100%;
	overflow: hidden;
	background: url('img/bg.png') rgb(0,0,0);
	background-repeat:repeat;
	background-size: cover;
}

img{
	visibility:hidden;
}

.game-button{ 
	background: transparent;
	font-family: "RobotoBold";
	font-weight: bold;
	color:white;
	border: 0 none;
	box-sizing: border-box;
	text-shadow: 2px 2px 1px #000;
}

#sound-bar{
	position:absolute;
	left:0;
	top:0;
	text-align: right;
	width: 100%;
}

.sound-bar-item{
	padding: 1%;
}

#play{
	border-radius: 30px;
	background: url("img/button-off.png");
	background-size: 100% 100%;
}
#play:hover{
	background: url("img/button-on.png");
	background-size: 100% 100%;
	
}

</style>

<body>

<div id="cache">
	<img src="img/button-off.png" width="0" height="0" />
	<img src="img/button-on.png" width="0" height="0" />
	<img src="img/sounds_on.png" width="0" height="0" />
	<img src="img/sounds_off.png" width="0" height="0" />
	<img src="img/music_on.png" width="0" height="0" />
	<img src="img/music_off.png" width="0" height="0" />
</div>

<div id="sound-bar">
	<img src="img/sounds_on.png" class="sound-bar-item" id="sound" ison="true" />
	<img src="img/music_on.png" class="sound-bar-item" id="music" ison="true" />
</div>

<table style="width:100%; height:100%; box-sizing:border-box" cellspacing="0" cellpadding="0" border="0">
<tr>
	<td width="100%" valign="middle" align="center">

		<div style="text-align:center" id="logo-box"> 
			<img src="img/logo.png" id="logo"> 
		</div>

		<table><tr>
			<td align="right">
				<button class="game-button" id="d9soft"> D9SOFT </button>
			</td>
			<td align="center" style="padding:25px">
				<button class="game-button" id="play"> PLAY NOW </button>
			</td>
			<td align="left">
				<button class="game-button" id="rateus"> RATE US </button>
			</td>
		</tr></table>

	</td>
</tr>
</table>


</body>

<script>

$(function(){

	var Action = "touchstart";

	$("#play").on(Action, function(){ makeMenuAction(this, function(){ L2L.Play() }) });
	$("#d9soft").on(Action, function(){ makeMenuAction(this, function(){ L2L.D9Soft() }) });
	$("#rateus").on(Action, function(){ makeMenuAction(this, function(){ L2L.RateUs() }) })
	$("#sound").on(Action, function(){ SoundSwitch(this) });
	$("#music").on(Action, function(){ MusicSwitch(this) });

	$(".game-button").addClass("easyPulse animated infinite");

	initSoundBar();
	scaleObjects();
	$(window).on("resize", scaleObjects)

	//body visualization
	$("body").fadeOut(0);
	$("body").fadeIn(2500);

	$("img").css("visibility", "visible");

});

function scaleObjects()
{
	var w = window.innerWidth;
	var h = window.innerHeight;
	
	var start_menu_button_width = Math.min(500, Math.min(w,h)*0.7);

	/* Logo scale */
	var logoPaddingTop = (h*0.0);
	var logoPaddingRight = (h*0.025);
	var logoPaddingBottom = 0;
	var logoPaddingLeft = (h*0.025);
	$("#logo-box").css({
		"padding-top": logoPaddingTop+"px",
		"padding-right": logoPaddingRight+"px",
		"padding-bottom": logoPaddingBottom+"px",
		"padding-left": logoPaddingLeft+"px"
	});
	$('#logo').width( w*0.5+"px" );

	/* Menu Buttons */ 
	var BTN_HW_RATIO = 230.0/1085;
	var BTN_RECT_H_TO_BTN_H_RATIO = 500/230.0;
	///////////////////////////////////////////////////
	var gameButtonWidth = w/4;
	var gameButtonHeight = (gameButtonWidth*BTN_HW_RATIO) * BTN_RECT_H_TO_BTN_H_RATIO;
	var gameButtonTextSz = gameButtonWidth/10;
	var gameButtonPadding = gameButtonHeight;
	//////////////////////////////////////////////////
	$(".game-button").css({
		"width" : gameButtonWidth+"px",
		"height" : gameButtonHeight+"px",
		"font-size" : gameButtonTextSz+"px"
	});

	/* Sound-Bar buttons */
	var BTN_SND_SIZE = h/12.0;
	var BTN_SND_PADD = BTN_SND_SIZE/2.0;
	$(".sound-bar-item").css({
		"width" : BTN_SND_SIZE+"px",
		"height" : BTN_SND_SIZE+"px",
		"padding" : BTN_SND_PADD+"px"
	});

}

function initSoundBar()
{
	var isSoundOn = L2L.GetSoundState();
	$("#sound").attr("ison", isSoundOn);
	$("#sound").attr("src", isSoundOn ? "img/sounds_on.png":"img/sounds_off.png");

	var isMusicOn = L2L.GetMusicState();
	$("#music").attr("ison", isMusicOn);
	$("#music").attr("src", isMusicOn ? "img/music_on.png":"img/music_off.png");
}

function makeMenuAction(btn,func)
{
	var animClass = "pulse animated";
	$(btn).addClass(animClass);
	window.setTimeout(function(){
		func();
		$(btn).removeClass(animClass);
		$(btn).blur();		
		}, 1000);

	$(btn).attr("disabled", "disabled");
	window.setTimeout(function(){ 
		$(btn).removeAttr("disabled") 
		$(btn).removeClass("pulse");
		$(btn).addClass("easyPulse");
	}, 2000);

	}

function SoundSwitch(switcher)
{
	var isOn = $(switcher).attr("ison")=="true";
	if(isOn){
		$(switcher).attr("src", "img/sounds_off.png")
		$(switcher).attr("ison", "false");
		L2L.EnableSound(false);
	}else{
		$(switcher).attr("src", "img/sounds_on.png")
		$(switcher).attr("ison", "true");
		L2L.EnableSound(true);
	}
}

function MusicSwitch(switcher)
{
	var isOn = $(switcher).attr("ison")=="true";
	if(isOn){
		$(switcher).attr("src", "img/music_off.png")
		$(switcher).attr("ison", "false");
		L2L.EnableMusic(false);
	}else{
		$(switcher).attr("src", "img/music_on.png")
		$(switcher).attr("ison", "true");
		L2L.EnableMusic(true);
	}
}

</script>